<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/">
      <img class="main-header__brand-image" src="/image/logo.png" alt="Brand" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/attendance' ? 'active' : '' %>"
            href="/attendance"
            >Chấm Công</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/infoStaff' ? 'active' : '' %>"
            href="/infoStaff"
            >Thông Tin Nhân Viên</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/workTime' ? 'active' : '' %>"
            href="/workTime"
            >Thông Tin Giờ Làm</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/covid' ? 'active' : '' %>"
            href="/covid"
            >Thông Tin Covid</a
          >
        </li>
        <% if (role==='admin') {%>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/manageStaff' ? 'active' : '' %>"
            href="/manageStaff"
            >Quản Lý Nhân Viên</a
          >
        </li>
        <% } %>
      </ul>
      <% if (!isAuthenticated) { %>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/login' ? 'active' : '' %>"
            href="/login"
            >Đăng Nhập</a
          >
        </li>
        <% } else { %>
        <li class="nav-item">
          <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">ĐĂNG XUẤT</button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="backdrop"></div>

<button id="side-menu-toggle">Menu</button>
