<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%> <%- include('../includes/workTimeButton.ejs') %>
<div class="container">
  <hr />
  <div class="row mx-2">
    <div class="card col- col-sm-4 p-2 mb-2">
      <p>ID Quản Lý: <%=manager._id%></p>
      <p>Tên Quản Lý: <%=manager.name%></p>
      <% if (staff.role==='staff' ) { %>
      <p>Tên Nhân Viên: <%=staff.name%></p>
      <%}%>
    </div>
    <div class="col- col-sm-4 mb-2"></div>
    <div class="card col- col-sm-4 p-2 mb-2">
      <div class="text-center">
        <p class="text-center">Chọn Số Dòng Hiển Thị Giờ Làm</p>
        <div class="grid align-center pagination">
          <a class="my-1" href="?rowPerPage=20">20 Dòng</a>
          <a class="my-1" href="?rowPerPage=30">30 Dòng</a>
          <a class="my-1" href="?rowPerPage=40">40 Dòng</a>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center mt-2">Danh Sách Giờ Làm</h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="table-primary">
          <th scope="col">Ngày</th>
          <th scope="col">Giờ Bắt Đầu</th>
          <th scope="col">Giờ Kết Thúc</th>
          <th scope="col">Nơi Làm Việc</th>
          <th scope="col">Tổng Số Giờ Làm</th>
          <th scope="col">Giờ Tăng Ca</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% attendance.forEach(listWork=>{%>
          <td><%=listWork.date%></td>
          <td><%=listWork.workTimes[0].startTime.toLocaleTimeString()%></td>
          <td>
            <%=listWork.workTimes[listWork.workTimes.length-1].endTime.toLocaleTimeString()%>
          </td>
          <td>
            <%=
            listWork.workTimes[listWork.workTimes.length-1].workPlace==='company'
            ? 'Công Ty' : 'Nhà' %>
          </td>
          <td><%= listWork.totalWorkHours %></td>
          <td><%= listWork.overTime %></td>
        </tr>
        <% } )%>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex">
  <div class="pagination mx-auto">
    <% if (currentPage !== 1 && previousPage !== 1) { %>
    <a href="?page=1">1</a>
    <% } %> <% if (hasPreviousPage) { %>
    <a href="?page=<%= previousPage %>"><%= previousPage %></a>
    <% } %>
    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if (hasNextPage) { %>
    <a href="?page=<%= nextPage %>"><%= nextPage %></a>
    <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
    <a href="?page=<%= lastPage %>"><%= lastPage %></a>
    <% } %>
  </div>
</div>

<%- include('../includes/end.ejs') %>
